<div id="button-example"></div>

  <h1>Buttons</h1>

  <mat-card>

    <button mat-button color="primary">Basic</button> <br> <br>
    <button mat-raised-button color="accent">Raised</button> <br> <br>
    <button mat-icon-button color="warn">
      <mat-icon>favorite</mat-icon>
    </button> <br> <br> <br>
    <button mat-fab color="Disabled">Fab</button><br> <br>
    <button mat-mini-fab color="accent">mFab</button>

  </mat-card>
